body {
  background: #780206;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #061161, #780206);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #061161, #780206);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

#gameScreen {
  border: 1px solid black;
}

img {
  display: none;
}

.controls-area {
  align-items: flex-start;
  display: flex;
  display: inline-block;
  flex-direction: column;
  justify-content: flex-start;
}

.play-area {
  display: inline-block;
}

.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 99vw;
}

h1 {
  font-family: 'Sans-serrif', cursive;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
}

.controls-area {
  border-radius: 10px;
  border: 10px solid #190080;
  color: #ffffff;
  font-family: 'Sans-serrif', cursive;
  padding: 26px;
}